In [2]:
name = "AdaM NooR ARZEmy"
print(name.capitalize())

Adam noor arzemy

In [3]:
name = "AdaM NooR ARZEmy"
print(name.title())

Adam Noor Arzemy

In [4]:
name = " AdaM Noo R AR ZEmy "
print(name.strip())

AdaM Noo R AR ZEmy

In [5]:
name = " AdaM Noo R AR ZEmy "
print(name.strip())
print(name.title())
print(name.join())

AdaM Noo R AR ZEmy
 Adam Noo R Ar Zemy

TypeError: str.join() takes exactly one argument (0 given)

In [6]:
name = " AdaM Noo R AR ZEmy "
New_name = " ".join(name.strip().split()).title()
print(New_name)

Adam Noo R Ar Zemy

In [8]:
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy","Arzemy")

In [9]:
name = " AdaM Noo R AR ZEmy "
New_name = " ".join(name.strip().split()).title()
print(New_name)
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy","Arzemy")

Adam Noo R Ar Zemy

In [10]:
New_name= "Adam Noo R Ar Zemy"
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy","Arzemy")

In [11]:
New_name = "Adam Noo R Ar Zemy"
New_name = New_name.replace("Noo", "Noor").replace("R Ar", "Arzemy")
print(New_name)

Adam Noor Arzemy Zemy

In [12]:
New_name = "Adam Noo R Ar Zemy"
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy", "Arzemy")
print(New_name)

Adam Noor Arzemy

In [14]:
New_name = "Adam Noo R Ar Zemy"
New_name.replace("Noo R", "Noor").replace(" Ar Zemy", "Arzemy")

'Adam NoorArzemy'

In [15]:
New_name = "Adam Noo R Ar Zemy"
New_name.replace("Noo R", "Noor ").replace(" Ar Zemy", "Arzemy")

'Adam Noor Arzemy'

In [18]:
print("Hello Wordl")

Hello Wordl

In [19]:
print("Hello Wordl")

Hello Wordl

In [3]:
import numpy as np
float = 3.14
float_64 = np.float64(3.14)
float_32 = np.float32(3.14)

print(float_64.dtype)
print(float_32.dtype)

float64
float32

In [4]:
name = ["Adam","Rahman","Kamarul"]
print(name[1])

Rahman

In [5]:
#Add item in List
names = ["Adam","Rahman","Kamarul"]
names.append("Rahman")
print(names)

['Adam', 'Rahman', 'Kamarul', 'Rahman']

In [7]:
names = ["Adam","Rahman","Kamarul"]
names.insert(3,"Rahman")
print(names)

['Adam', 'Rahman', 'Kamarul', 'Rahman']

In [8]:
names = ["Adam","Rahman","Kamarul"]
names.insert(1,"Rahman")
print(names)

['Adam', 'Rahman', 'Rahman', 'Kamarul']

In [10]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names.extend(names_2).extend(names_3)
print(names)

AttributeError: 'NoneType' object has no attribute 'extend'

In [11]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names.extend(names_2)
names.extend(names_3)
print(names)

['Adam', 'Rahman', 'Rahman', 'Kamarul', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Sulaiman', 'Suhaimi', 'Sham']

In [15]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names = names_1 + names_2 + names_3
print(names)

['Adam', 'Rahman', 'Kamarul', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Sulaiman', 'Suhaimi', 'Sham']

In [17]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names_1.pop(2)
print(names_1)

['Adam', 'Rahman']

In [18]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.pop(2,7)
print(names_2)

TypeError: pop expected at most 1 argument, got 2

In [20]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.pop(1,5)
print(names_2)

TypeError: pop expected at most 1 argument, got 2

In [22]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
while "Azman" in names_2:
     names_2.remove("Azman") #In loop this line shall be indented
print(names_2)

['Azim', 'Afiq', 'Afikah', 'Kamala']

In [23]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.pop(-6)
print(names_2)

['Azman', 'Afiq', 'Afikah', 'Kamala', 'Azman']