In [2]:
name = "AdaM NooR ARZEmy"
print(name.capitalize())

Adam noor arzemy

In [3]:
name = "AdaM NooR ARZEmy"
print(name.title())

Adam Noor Arzemy

In [4]:
name = " AdaM Noo R AR ZEmy "
print(name.strip())

AdaM Noo R AR ZEmy

In [5]:
name = " AdaM Noo R AR ZEmy "
print(name.strip())
print(name.title())
print(name.join())

AdaM Noo R AR ZEmy
 Adam Noo R Ar Zemy

TypeError: str.join() takes exactly one argument (0 given)

In [6]:
name = " AdaM Noo R AR ZEmy "
New_name = " ".join(name.strip().split()).title()
print(New_name)

Adam Noo R Ar Zemy

In [8]:
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy","Arzemy")

In [9]:
name = " AdaM Noo R AR ZEmy "
New_name = " ".join(name.strip().split()).title()
print(New_name)
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy","Arzemy")

Adam Noo R Ar Zemy

In [10]:
New_name= "Adam Noo R Ar Zemy"
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy","Arzemy")

In [11]:
New_name = "Adam Noo R Ar Zemy"
New_name = New_name.replace("Noo", "Noor").replace("R Ar", "Arzemy")
print(New_name)

Adam Noor Arzemy Zemy

In [12]:
New_name = "Adam Noo R Ar Zemy"
New_name = New_name.replace("Noo", "Noor").replace("R Ar Zemy", "Arzemy")
print(New_name)

Adam Noor Arzemy

In [14]:
New_name = "Adam Noo R Ar Zemy"
New_name.replace("Noo R", "Noor").replace(" Ar Zemy", "Arzemy")

'Adam NoorArzemy'

In [15]:
New_name = "Adam Noo R Ar Zemy"
New_name.replace("Noo R", "Noor ").replace(" Ar Zemy", "Arzemy")

'Adam Noor Arzemy'

In [18]:
print("Hello Wordl")

Hello Wordl

In [19]:
print("Hello Wordl")

Hello Wordl

In [3]:
import numpy as np
float = 3.14
float_64 = np.float64(3.14)
float_32 = np.float32(3.14)

print(float_64.dtype)
print(float_32.dtype)

float64
float32

In [4]:
name = ["Adam","Rahman","Kamarul"]
print(name[1])

Rahman

In [5]:
#Add item in List
names = ["Adam","Rahman","Kamarul"]
names.append("Rahman")
print(names)

['Adam', 'Rahman', 'Kamarul', 'Rahman']

In [7]:
names = ["Adam","Rahman","Kamarul"]
names.insert(3,"Rahman")
print(names)

['Adam', 'Rahman', 'Kamarul', 'Rahman']

In [8]:
names = ["Adam","Rahman","Kamarul"]
names.insert(1,"Rahman")
print(names)

['Adam', 'Rahman', 'Rahman', 'Kamarul']

In [10]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names.extend(names_2).extend(names_3)
print(names)

AttributeError: 'NoneType' object has no attribute 'extend'

In [11]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names.extend(names_2)
names.extend(names_3)
print(names)

['Adam', 'Rahman', 'Rahman', 'Kamarul', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Sulaiman', 'Suhaimi', 'Sham']

In [15]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names = names_1 + names_2 + names_3
print(names)

['Adam', 'Rahman', 'Kamarul', 'Azim', 'Azman', 'Afiq', 'Afikah', 'Kamala', 'Sulaiman', 'Suhaimi', 'Sham']

In [17]:
names_1 = ["Adam","Rahman","Kamarul"]
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala"]
names_3 = ["Sulaiman","Suhaimi","Sham"]

names_1.pop(2)
print(names_1)

['Adam', 'Rahman']

In [18]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.pop(2,7)
print(names_2)

TypeError: pop expected at most 1 argument, got 2

In [20]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.pop(1,5)
print(names_2)

TypeError: pop expected at most 1 argument, got 2

In [22]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
while "Azman" in names_2:
     names_2.remove("Azman") #In loop this line shall be indented
print(names_2)

['Azim', 'Afiq', 'Afikah', 'Kamala']

In [24]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.pop(-6)
print(names_2)

['Azman', 'Afiq', 'Afikah', 'Kamala', 'Azman']

In [36]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.sort()
print(names_2)

['Afikah', 'Afiq', 'Azim', 'Azman', 'Azman', 'Kamala']

In [37]:
values_2 = [320,457,1366,729,444,321]
sorted_values = sorted(values_2, reverse=True) #Arrange to desc order
print(sorted_values)

[1366, 729, 457, 444, 321, 320]

In [38]:
names_2 = ["Azim","Azman","Afiq","Afikah","Kamala","Azman"]
names_2.sort(reverse=True)
print(names_2)

['Kamala', 'Azman', 'Azman', 'Azim', 'Afiq', 'Afikah']

In [39]:
values_2 = [320,457,1366,729,444,321]
values_2.sort() #Arrange in ascending order
print(values_2)

[320, 321, 444, 457, 729, 1366]

In [35]:
values_2 = [320, 457, 1366, 729, 444, 321]
values_2.sort(reverse=True)  # Desc order
print(values_2)

[1366, 729, 457, 444, 321, 320]

In [1]:
Employee_Salary ={

"Adam" : 5000,
"Afiq" : 6000,
"Syahir" : 7000
}

key_name = "Adam"
print(f"The most underpaid is {key_name} with amount of {Employee_Salary[key_name]}")

The most underpaid is Adam with amount of 5000

In [44]:
Employee_Salary ={

"Adam" : 5000,
"Afiq" : 6000,
"Syahir" : 7000
}

key_name = "Syahir"
print(f"The most loaded is {key_name} with amount of {Employee_Salary[key_name]}")

The most loaded is Syahir with amount of 7000

In [4]:
Employee_Salary ={

"Adam" : 5000,
"Afiq" : 6000,
"Syahir" : 7000
}

Employee_Salary["Azman"] = 10000
Employee_Salary["Azim"] = 4000
print(Employee_Salary)

{'Adam': 5000, 'Afiq': 6000, 'Syahir': 7000, 'Azman': 10000, 'Azim': 4000}

In [5]:
Employee_Salary ={

"Adam" : 5000,
"Afiq" : 6000,
"Syahir" : 7000,
"Azman" : 10000,
"Azim" : 4000

}

key_name = "Azim"

print(f"The most lowest pay is {key_name} with amount of RM {Employee_Salary[key_name]}")

The most lowest pay is Azim with amount of RM 4000

In [8]:
Employee_Salary ={

"Adam" : 5000,
"Afiq" : 6000,
"Syahir" : 7000,
"Azman" : 10000,
"Azim" : 4000

}

Employee_Salary = dict(sorted(Employee_Salary.items(),key=lambda X: X[1],reverse = True))
print(Employee_Salary)

{'Azman': 10000, 'Syahir': 7000, 'Afiq': 6000, 'Adam': 5000, 'Azim': 4000}

In [11]:
Employee_Salary ={

"Adam" : 5000,
"Afiq" : 6000,
"Syahir" : 7000,
"Azman" : 10000,
"Azim" : 4000

}

Employee_Salary = dict(sorted(Employee_Salary.items(),key = lambda X: X[1]))
print(Employee_Salary)

{'Azim': 4000, 'Adam': 5000, 'Afiq': 6000, 'Syahir': 7000, 'Azman': 10000}